services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=grafana-clickhouse-datasource
      - GF_UNIFIED_ALERTING_ENABLED=true
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - monitoring

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      - CLICKHOUSE_USER=admin
      - CLICKHOUSE_PASSWORD=admin
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    volumes:
      - clickhouse-storage:/var/lib/clickhouse
    networks:
      - monitoring

volumes:
  grafana-storage:
  clickhouse-storage:

networks:
  monitoring:
    driver: bridge
